// Base
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto+Condensed:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}



body {
  padding: 0;  
  margin: 0;
  color: var(--base-txt-color);
  //font-family: var(--base-font-family);
  font-family: 'Open Sans', 'Times New Roman', Times, serif;
  font-weight: 300;
  background: var(--body-bg);
  //overflow: auto;
  overflow-x: hidden;
  
}

//links
a {
  text-decoration: none;
}

// headings ------------
h1,h2,h3,h5,h6 {
  margin: 0 0 .5em;
  color: var(--heading-color);
  font-family: 'Roboto Condensed', 'Open Sans';    
  font-weight: 300;
} 

// app splash screen -------
.app-splash {
  position: fixed;
  background: #fff;
  color: #777;
  display: flex;
  left: 0;
  top:0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  .app-logo {
    width: 180px;
    display: block;
    margin-bottom: 1em;
  }
}


// helper classes ---------
.calign {
  text-align: center;
}

.large-text {
  font-size: 1.6em;
}

.brand-color {
  color: var(--brand-color);
}

// generic-entry ------------
.generic-entry {
  box-shadow: 0px 3px 5px rgba(0,0,0,0.07);
  border-radius: 5px;
  margin-bottom: .5em;
  padding: 1em;
  background: #fff;
}

// root ---------------
#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;  
  //overflow: hidden;
}

// page --------------------
.page-content {
  //position: relative;
  position: absolute;
  top: var(--app-header-height);
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 1em;
  //overflow-y: scroll;
  //the padding here was removed as it was messing up the footer. Please only add
  //padding to elements and not globally Thanks! - Miriam
  &.no-pad {
    padding: 0;
  }
}

.page-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

// sign in + sign up pages ----------
.signinup-box,
.signup-box {  
  max-width: 320px;
  text-align: center;
  h1 {
    color: black;
  }
}

.signinup-logo {
  width: 200px;
  margin-bottom: 1em;
}

// guide page ---------------
.guide-step {
  padding: 1em;
  margin: 1.5em auto;
  max-width: 600px;
  img {
    width: 100%;
    height: auto;
  }
}

.packages-grid{
  display: flex;
  flex-wrap: wrap;
  .package-card {
    width: calc(33.3% - 1em);
    margin: .5em;
  }
}

// packages dialog
.package-dialog {
  --width: 70%;
}

.package-dialog::part(body){
  margin-top: -3em;
}

/*PACKAGE PAGE
  --------------------------
  --------------------------
  --------------------------*/

/*section 1 Hero
--------------------------*/
  #packg-hero-section{
    background-image: url("./../../static/images/FYT-Hero.jpg");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;

    /*so will have whitespace beneath*/
    height: 90vh;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  #pckg-hero-text h1{
    font-weight:normal;
    color: #FFF;
  }

  .pckg-hero-h1{
    margin-top: 15vh;
    font-size: 14vh;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  /*section 2 packages 
  and find by
  --------------------------*/
  #packg-pckg-flex{
    display: flex;
    width: 100vw;
    align-items: stretch;
  }

  #right-container-pckg{
    height: 180vh;
    width: 70vw;
    //background-color: #777;
    padding: 9vh;
    padding-left: 11vh;
    display: flex;
    flex-direction: column;
  }

  #left-container-pckg{
    padding: 9vh;
    padding-right: 11vh;
  }

  .packages-display{
    display: flex;
    flex-direction: row;
    padding-bottom: 5vh;
  }

  #med-span{
    background-color: #F9DE7E;
  }

  #adv-span{
    background-color: #F0C6D8;
  }

  #america-span{
    background-color: #C9E2D1;
  }

  #az-span{
    background-color: #DF5A36;
  }

  .pckg-span{
    border-radius: 8px;
    text-align: center;
    width: 20vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    top: 1vh;
    position: relative;
    color: #FFF;
    margin-top: 20vh;
  }

  #pckg-img-1,
  #pckg-img-2,
  #pckg-img-3, 
  #pckg-img-4{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #pckg-img-1{
    background-image: url("./../../static/images/HOME-Popular-Bali.jpg");
  }

  #pckg-img-2{
    background-image: url("./../../static/images/HOME-Popular-Med.jpg");
  }

  #pckg-img-3{
    background-image: url("./../../static/images/FYT-AmericanNights.jpg");
  }

  #pckg-img-4{
    background-image: url("./../../static/images/FYT-AztecImmersion.jpg");
  }

  #pckg-img-1,
  #pckg-img-2,
  #pckg-img-3, 
  #pckg-img-4{
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  height: 32vh;
  width: 48vh;
  border-radius: 10px;
  margin-right: 4vh;
  }

  .pckg-disp-txt{
    margin-top: 2vh;
  }

  .pckg-disp-txt h1{
    color: var( --base-txt-color);
    text-align: left;
  }

  .pckg-disp-txt h2{
    font-size: 3vh;
    margin-top: -2vh;
  }

  .pckg-disp-txt p{
    font-size: 2vh;
    margin-top: -1vh;
  }
  /*NEW PACKAGE PAGE 
  --------------------------
  --------------------------
  --------------------------*/
  #package-pg{
    height: 150vh;
   // overflow-y: scroll;
  }


  /*FIND US PAGE
  --------------------------
  --------------------------
  --------------------------*/

  /*section 1 Hero
  --------------------------*/
  #findus-hero-section{
  background-image: url("./../../static/images/FU-HERO\ copy.jpg");
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;

  /*so will have whitespace beneath*/
  height: 95vh;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
}

.findus-hero-h1{
  margin-top: 15vh;
  font-size: 14vh;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*section 2 Info
  --------------------------*/
#findus-info-container{
  margin-top: 9vh;
  margin-bottom: 9vh;
}

#contact-contain,
#second-contact-flex{
  display: flex;
  width: 100%;
  margin: 1vh;
  justify-content: center;
}
/*second flex item*/
#second-contact-flex{
  margin-top: 5vh;
}

#contact-contain .contact-item,
#second-contact-flex .contact-item{
  background-color: rgb(241, 241, 241);
  height: 45vh;
  border-radius: 8px;
  padding: 3vh;
  width: 35%;
  text-align: center;
}

#contact-contain .contact-item h1, 
#second-contact-flex .contact-item h1
{
  font-size: 3em;
  color: var(--brand-blue);
}

#contact-contain .contact-item p,
#second-contact-flex .contact-item p{
  font-size: 3.2vh;
  font-family: var(--headings-font-family);
}

.findus-crcl{
  text-align: center;
  color:#FFF;
  padding-top: 2vh;
  padding-left: 1vh;
  padding-right: 1vh;
  padding-bottom: 2vh;
  border-radius: 10px;
}

#find-us-emg-span{
  background-color: var(--brand-red);
}

#emg-info-item,
#social-links-contact{
  margin-right: 5vh;
}

#social-links-contact{
  height: 125vh !important;
}

#aus-num, 
#aus-num-2, 
#uk-num, 
#uk-num-2{
  background-color: #F9DE7E;
  color: var(--brand-blue);
}

#aus-num, 
#uk-num{
  margin-bottom: 2vh;
}

/*purple links social media*/
.social-link-div{
  display: flex;
  justify-content: center;
  background-color: var(--brand-pink);
  color: var(--brand-blue);
  text-align: center;
  font-size: 6vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-radius: 10px;
  margin-bottom: 5vh;
}

.social-link-div span{
  padding-top: 1vh;
  font-weight: lighter;
  font-family: var(--headings-font-family);
}

/*social icons*/
.social-link-div sl-icon{
  margin-right: 2vh;
  font-size: 9vh;
}

/*social images*/
.social-icon-img{
  margin-right: 2vh;
  width: 9vh;
}

 /*OUR STORY PAGE 
  --------------------------
  --------------------------
  --------------------------*/
  #ourstory-hero-section{
    background-image: url("./../../static/images/OS-HERO.jpg");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
  
    /*so will have whitespace beneath*/
    height: 95vh;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  .ourstory-hero-h1{
    margin-top: 15vh;
    font-size: 14vh;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

// RESPONSIVE - MOBILE -------------------
@media all and (max-width: 768px){ 

  .signinup-box {
    width: 90%;
    max-width: none;
  }
}