 /* RESPONSIVE - MOBILE SIZE
---------------------------- */
@media all and (max-width: 414px){    

    /*HOME PAGE
    --------------------------*/

    /*section 1 Home hero section
    --------------------------*/
    #home-hero-text h3{
        font-size: 3.5vh;
        }
        
    #home-hero-text h1{
        font-size: 8vh;
        }

    /*section 2 Top Deck Tours 
    --------------------------*/
    #pop-h1{
        padding-top: 6vh;
        font-size: 5.3vh;
        padding-bottom: 0vh;
    }

    #med-reset,
    #bali-adventure{
    height: 30vh;
    width: 48vh;
    }

    /*Section 3 - feedback section 
    --------------------------*/

    #feedback-box h1{
        font-size: var(--base-responsive-mobile-head);
    }

    #vert-line{
        width: 45vh;
    }
    

}