 /* RESPONSIVE - TABLET SIZE
------------------- */
 @media all and (max-width: 768px){       
        
    /*HOME PAGE
    --------------------------*/

    /*section 1 Home hero section
    --------------------------*/
    #home-hero-text h3{
    font-size: 4vh;
    }
    
    #home-hero-text h1{
    font-size: 9vh;
    }

    /*section 2 Top Deck Tours 
    --------------------------*/
    #pop-h1{
        padding-top: 6vh;
        font-size: 7vh;
        padding-bottom: 0vh;
    }

    #med-reset,
    #bali-adventure{
    height: 32vh;
    width: 60vh;
    }

    .slider-txt h3{
    font-size: 5vh;
    }
      
    .slider-txt h4{
    font-size: 3vh; 
    }

    .slider-item{
    width: 20vh;
    }

    /*Section 3 - feedback section 
--------------------------*/
    #feedback-sm-container{
      flex-direction: column;
    }

    #feedback-box{
      margin-top: 5vh;
    }

    #feedback-box h1{
      font-size: 9vh;
     }

     #vert-line{
      margin-top: 0vh;
      border-top: 5px solid #FFF;
      border-left: 0px ;
      width: 55vh;
    }

  }