 /* RESPONSIVE - MOBILE SIZE
 iPhone 6/7/8 Plus
---------------------------- */
@media all and (max-width: 414px){    

    /*HOME PAGE
    --------------------------
    --------------------------
    --------------------------*/

    /*section 1 Home hero section
    --------------------------*/
    #home-hero-text h3{
        font-size: 3.5vh;
        }
        
    #home-hero-text h1{
        font-size: 8vh;
        }

    /*section 2 Top Deck Tours 
    --------------------------*/
    #pop-h1{
        padding-top: 6vh;
        font-size: 5.3vh;
        padding-bottom: 0vh;
    }

    #med-reset,
    #bali-adventure{
    height: 30vh;
    width: 48vh;
    }

    /*Section 3 - feedback section 
    --------------------------*/

    #home-feedback-section{
        height: 65vh;
    }

    #feedback-box h1{
        font-size: var(--base-responsive-mobile-head);
    }

    #vert-line{
        width: 45vh;
    }

    /*left feedback box*/
    #feedback-box h2{
        color: #FFF;
        font-size: 4vh;
        margin-top: -1.5vh;
    }

    #feedback-box{
        width: 50vh;
      }

      /*styles star img*/
    #feedback-box img{
        width: 25vh;
    }

    /*section 4 Quiz Section 
    --------------------------*/
      
    #quiz-h1-box{
        padding-top: 45vh;
        width: 45vh;
    }

    #home-quiz-section h1{
        font-size: 10vh !important;
    }

    #btn-outline{
        width: 28vh !important;
        padding: 2vh;
    }

      /*secton 5 - grid images
      --------------------------*/
      #home-grid-section {
        height: 100vh;
      }
      
      #home-grid-section h2{
        margin-top: 5vh;
        font-size: var(--base-responsive-mobile-head);
      }

      .img-gallery {
        margin-left: 5vh;
        margin-right: 5vh;
      }

    /*FIND US PAGE
    --------------------------
    --------------------------
    --------------------------*/

    #section-contact-holder {
        display: flex;
        flex-direction: column;
    }

    .contact-col-item, 
    #social-links-contact,
    .smaller-contact{
        width: 82vw;
    }

    #social-links-contact{
        margin-bottom: 3vh;
    }

    .social-link-div span {
        font-size: 4vh;
    }

       /*OUR STORY PAGE
      --------------------------
      --------------------------
      --------------------------*/

      .content-timeline p, .timeline-extra-content {
        font-size: 2.5vh !important;
    }

    .content-timeline {
        padding-left: 1vh;
        padding-right: 1vh;
        padding-bottom: 1vh;
        padding-top: 1vh;
    }
    
    .timeline-cols > div {
        height: 45vh;
    }

    .dot {
        height: 5vh;
        width: 5vh;
    }

    .tl-bottom-square {
        height: 12vh !important;
        width: 35vh !important;
    }
    
    .tl-bottom-square h1 {
        font-size: 4vh;
    }    
    

}

/*SLIGHTLY smaller mobile view
iPhone 6/7/8 
*/
@media all and (max-width: 375px){   
    /*Homepage 
    --------------------------*/

    /*secton 5 - grid images
    --------------------------*/
    .img-gallery {
        margin-left: 3vh;
        margin-right: 3vh;
      }


    
}
