 /* RESPONSIVE - TABLET SIZE
------------------- */
 @media all and (max-width: 768px){       
        
    /*HOME PAGE
    --------------------------*/

    /*section 1 Home hero section
    --------------------------*/
    #home-hero-text h3{
    font-size: 4vh;
    }
    
    #home-hero-text h1{
    font-size: var(--base-responsive-heading);
    }

    /*section 2 Top Deck Tours 
    --------------------------*/
    #pop-h1{
        padding-top: 6vh;
        font-size: 7vh;
        padding-bottom: 0vh;
    }

    #med-reset,
    #bali-adventure{
    height: 32vh;
    width: 60vh;
    }

    .slider-txt h3{
    font-size: 5vh;
    }
      
    .slider-txt h4{
    font-size: 3vh; 
    }

    .slider-item{
    width: 20vh;
    }

    /*Section 3 - feedback section 
--------------------------*/
    
    #home-feedback-section{
    height: 75vh;
  }

    #feedback-sm-container{
      flex-direction: column;
    }

    #feedback-box{
      margin-top: 8vh;
    }

    #feedback-box h1{
      font-size: var(--base-responsive-heading);
     }

     #vert-line{
      margin-top: 0vh;
      border-top: 5px solid #FFF;
      border-left: 0px ;
      width: 55vh;
      height: 0vh;
    }

   
      /*left feedback box*/
      #feedback-box h2{
        color: #FFF;
        font-size: 5vh;
        margin-top: 1vh;
      }
      /*styles star img*/
      #feedback-box img{
        width: 30vh;
      }

      /*section 4 Quiz Section 
      --------------------------*/
      
      #home-quiz-section{
        height: 100vh;
       
      }
      
      #quiz-h1-box{
        padding-top: 35vh;
        width: 50vh;
      }

      #home-quiz-section h1{
        font-size: 11vh !important;
      }

       /*secton 5 - grid images
      --------------------------*/
      #home-grid-section {
        height: 100vh;
      }
      
      #home-grid-section h2{
        margin-top: 5vh;
        font-size: var(--base-responsive-heading);
      }

      .img-gallery {
        margin-left: 10vh;
        margin-right: 10vh;
      }
      
  }