/*
#F0C6D8 (Pink)
#DF5A36 (Red)
#F9DE7E (Yellow)
#C9E2D1 (Green), and
#222C39 (Dark Blue)
*/

// Vars
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto+Condensed:wght@300;400&display=swap');


:root {
  // base
  --base-txt-color: #222;
  --heading-color: #333;
  --brand-pink: #F0C6D8;
  --brand-green: #C9E2D1;
  --brand-blue: #222C39;
  --brand-red: #DF5A36;
  --base-font-family: 'Open Sans', 'Times New Roman', Times, serif;
  --headings-font-family: 'Roboto Condensed', 'Open Sans';  
  --body-bg: #fff;
  --base-responsive-heading: 9vh;
  --base-responsive-mobile-head: 7vh;
  

  // colors  
  $brand-color: #222C39;
  --brand-color: #{$brand-color};
  --link-color: --brand-color;
  
  // app header
  --app-header-height: 14vh;
  --app-header-txt-color: #000;
  --app-header-title-font-size: 1.6em;

  // shoelace tokens
  // full list here:
  // https://github.com/shoelace-style/shoelace/blob/current/src/styles/base.scss
  --sl-color-primary-50: #f4f4f4;
  --sl-color-primary-100: #{lighten($brand-color, 40%)};
  --sl-color-primary-200: #{lighten($brand-color, 30%)};
  --sl-color-primary-300: #{lighten($brand-color, 20%)};
  --sl-color-primary-400: #{lighten($brand-color, 10%)};
  --sl-color-primary-500: #{$brand-color};
  --sl-color-primary-600: #{darken($brand-color, 10%)};
  --sl-color-primary-700: #{darken($brand-color, 20%)};
  --sl-color-primary-800: #{darken($brand-color, 30%)};
  --sl-color-primary-900: #{darken($brand-color, 40%)};
  --sl-focus-ring-color-primary: #{rgba($brand-color, 0.1)};
}